#about{
    padding: 80px 0;
}

.aboutContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutImg{
    flex-basis: 35%; /*will take up 35% of the flexbox's width*/
}

.aboutImg img{
    width: 100%;   
}

.aboutText{
    flex-basis: 63%;
}
.aboutText h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(183, 209, 232);
}
.aboutText .aboutPara{
    font-size: 20px;
    line-height: 1.6;
    color: rgb(205, 199, 199);
    padding-right: 200px;
    margin-bottom: 20px;
}

.classTitles{
    display: flex;    
   /* margin: 10px 0px 10px; */
}

.tabLinks{
    margin-right: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: rgb(147, 255, 224);
    user-select: none   ;
}

.tabLinks.active{
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(to top, rgb(154, 38, 221), rgb(71, 18, 102), rgb(36, 35, 35));
    border-radius: 20%;
}
.testBtn:focus {
    background-color: aliceblue;
}

.tabContent ul span{
    color: rgb(76, 185, 114); 
    font-size: 18px; 
}

.tabContent ul li{
   list-style: none;
   margin: 40px 0;
   color: rgb(147, 255, 224);
}
.tabContent ul  br{  
    margin-bottom: 10px;
    font-weight: bold;  
}
.tabContent{
    display: none;
}

.tabContent.active {
    display: block;
}